header {
  background-image: url(immagini/pattern.png);
  background-size:contain ;
  background-color: #4EA0FF ;
}

.logo-header {
  height: 40px ;
  margin-top: 30px;
}

.sottotitolo {
  color: lightslategray;
}

.nome {
  color: #1FA9E4;
}

.data {
  font-size: 10px;
}

.didascalia {
  font-size: 13px;
}

.sottolineato {
  background-color:yellow;
}

.img-title {
  font-size: 20px;
  
}